<div class="containe my-5">

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <section class="mb-4">
   <span>Angular food vendor application by Chukwuma Obiechina</span>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/obiechinac">Obiechina's Github </a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
